* {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 50px;
}
form {
    margin: 10px 50px;
}
div, button {
    display: block;
    margin: 10px 0px;
}
    input {
        position: absolute;
        left: 200px;
    }
    button {
        margin-top: 40px;
        padding: 5px 10px;
        box-shadow: 3px 5px;
    }
